# Ignore static files
/static/css/styles.css
/static/js/main.js
/static/instructions/blink_your_eyes.mp3
/static/instructions/open_your_mouth.mp3

# Ignore template files
/templates/index.html
/templates/landing.html
/templates/landing.js
/templates/script.js

# Ignore Python script files
app.py



# Ignore virtual environment folder
venv/
